<div class="admin-list-toolbar" [class.admin-list-toolbar--has-active]="hasActiveFilters()">
  <app-search-input
    class="admin-list-toolbar__search"
    placeholder="Buscar por nombre"
    [initialValue]="search()"
    [fullWidth]="true"
    icon="svg"
    (searchChange)="searchChange.emit($event)"
  />

  <div class="admin-list-toolbar__filters">
    <ng-content select="[filters]" />
  </div>

  <div class="admin-list-toolbar__clear-slot">
    @if (hasActiveFilters()) {
      <button
        type="button"
        class="admin-list-toolbar__clear"
        (click)="onClear()"
      >
        <mat-icon aria-hidden="true">delete_sweep</mat-icon>
        <span>Quitar filtros</span>
        @if (filterCount() > 0) {
          <span class="admin-list-toolbar__badge">{{ filterCount() }}</span>
        }
      </button>
    }
  </div>
</div>
